.Card{

    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 10px;
    background-color: chartreuse;
    border-color: blue;
    margin-bottom: 50px;
}